*{
    font-family: 'Gilam';
    margin-left: 0px; 
}

.body{ 
    background-attachment: fixed;
    background-size: 100%;
    width: 1920px; 
    margin:0 auto;
    background-image: url(../img/header-bg.jpeg);
    
}

/*header*/

.header{
    padding-left: 230px;
    padding-right: 230px;     
}

.logo_div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 80px;
}

.logo_div_2{
    display: flex;
    align-items: center;
    justify-content: space-between;
       
}

.logo_p{
    font-family: 'Circe';
    font-style: normal;

    font-size: 20px;
    line-height: 29px;
    margin-right: 40px; 
    color: #FFFFFF;
}

.logo_p_span{
    color: #D6AF76;
}

.logo_a{
    padding-top: 17px;
    padding-bottom: 16px;
    padding-right: 20px;
    padding-left: 20px;
    

    text-decoration: none;
}

.logo_button{
    width: 218px;
    height: 50px;
    left: 1472px;
    top: 37px;
    background: rgb(255, 255, 255, 0.100);
    border: 1px solid #E4B564;
}

.vector_phone{
    margin-right: 10px;
}

.logo_span{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;

    color: #E4B564;
}

/*--main--*/

.main{
    padding-left: 230px;
    padding-right: 230px;
}

.main_h1{
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;

    color: #FFFFFF;
}

.main_p{
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 41px;

    color: #FFFFFF;
}

.main_div{
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    text-align:center;
    margin-bottom: 161px;
    

    display: grid;
    gap: 34px;
    grid-template-rows: 467px 468px;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-template-areas: "header_div1 header_div2 header_div2 header_div3"
                        "header_div4 header_div4 header_div5 header_div5";
}
.main_div1{
    grid-column: 1/2;
    padding-top: 220px;
    background-color: #634F2C;

}
.main_div2{
    grid-column: 2/4;
    padding-top: 220px;
    background: #B4A385;
}
.main_div3{
    grid-column: 4/5;
    padding-top: 220px;
    background: #E4B564;
}
.main_div4{
    grid-column: 1/3;
    padding-top: 220px;
    background: #635A4A;
}
.main_div5{
    grid-column: 3/5;
    padding-top: 220px;
    background: #B08C4D;
}

/*--bloc_2--*/

.main_div_2{
    display: flex;
    justify-content: space-around;
    
}

.main_h2{
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;

    color: #FFFFFF;
}

.main_div_p_1{
    width: 467px;
    height: 313px;

    background: #0E0E0E;   
}

.main_p_1{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    
    color: #FFFFFF;

    padding-top: 50px;
    padding-left: 45px;
}

.main_div_p_2{
    width: 467px;
    height: 560px;

    background: #1F1F1F;
}

.main_p_2{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;

    color: #FFFFFF; 
    
    padding-top: 50px;
    padding-left: 45px;
}

.main_div_p_3{
    width: 467px;
    height: 439px;

    background: #242424;  
}

.main_p_3{
    width: 302px;
    height: 50px;
    
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    
    color: #FFFFFF;

    padding-top: 50px;
    padding-left: 45px;
}

.main_div_p_4{
    width: 467px;
    height: 405px;

    background: #E4B564;  
}

.main_p_4{
    width: 302px;
    height: 25px;
    
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    
    color: #000000;

    padding-top: 50px;
    padding-left: 45px;
}

.main_div_p_5{
    width: 467px;
    height: 255px;

    background: #1F1F1F;
}

.main_p_5{
    width: 302px;
    height: 25px;
   
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
   
    color: #FFFFFF;

    padding-top: 50px;
    padding-left: 45px;
}

.main_div_p_6{
    width: 467px;
    height: 313px;

    background: #0E0E0E;
}

.main_p_6{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;

    color: #FFFFFF;

    padding-top: 50px;
    padding-left: 45px;
}

.main_div_p_7{
     width: 467px;
    height: 277px;

    background: #0A0909;   
}

.main_p_7{
    width: 302px;
    height: 25px;
    
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
   
    color: #FFFFFF;

    padding-top: 50px;
    padding-left: 45px;
}

/*--footer--*/

.footer{
    margin-top: 191px;
    margin-bottom: 240px;

    background-attachment: fixed;
    background-size: 100%;

    background-image: url("../img/parallax-bg.jpeg");

}

.footer_div{
    padding-left: 230px;
    padding-right: 230px;
     
   
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.footer_div_h2{
    font-size: 50px;
    line-height: 28px;

    margin-top: 165px;
    margin-bottom: 72px;

    color: #FFFFFF;
}

.footer_div_button{ 
    width: 180px;
    height: 50px;
    background: rgba(232, 210, 171, 0.76);
    align-items: center;
    justify-content:space-between;

    margin-top: 161px;
    margin-bottom: 51px;
    background: rgb(180, 163, 133, 0.100);
    
    border: 1px solid #E4B564;
}

.footer_button_p{
    font-family: 'Circe';
    
    font-size: 18px;
    line-height: 30px;
    margin-top: 5px;
    
    color: #E4B564;
}

.footer_progect{
    padding-left: 230px;
    padding-right: 230px;



    display: grid;
    grid-template-rows: 487px 391px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "footer_progect_1 footer_progect_2 footer_progect_3"
                     "footer_progect_4 footer_progect_5 footer_progect_6";

}

.footer_progect_1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    background: rgb(99, 79, 44);
}
.footer_progect_1_p{
    display: none;
}

.footer_progect_1:hover{
    background: rgb(99, 79, 44, 0.76);
}

.footer_progect_1:hover .footer_progect_1_p{
    display: block;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    text-align: center;

    color: #ffffff;
}

.footer_progect_2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
     background: rgba(232, 210, 171) ;  
}

.footer_progect_2:hover{
    background: rgba(232, 210, 171, 0.76)
}

.footer_progect_2_p{
    display: none;
}

.footer_progect_2:hover .footer_progect_2_p{
    display: block;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    text-align: center;

    color: #ffffff;
}

.footer_progect_3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(228, 181, 100);
}

.footer_progect_3_p{
    display: none;
}

    .footer_progect_3:hover .footer_progect_3_p{
    display: block;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    
    color: #ffffff;
    }

.footer_progect_3:hover{
    background: rgb(228, 181, 100, 0.76);
}
.footer_progect_4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(99, 90, 74);
}
.footer_progect_4_p{
    display: none;
}

.footer_progect_4:hover .footer_progect_4_p{
    display: block;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    
    color: #ffffff;
    }

.footer_progect_4:hover{
    background: rgb(99, 90, 74, 0.76);
}

.footer_progect_5{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    background: rgb(176, 140, 77);
}

.footer_progect_5_p{
    display: none;
}

.footer_progect_5:hover .footer_progect_5_p{
        display: block;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    
    color: #ffffff;
}

.footer_progect_5:hover{
    background: rgb(176, 140, 77, 0.76);
}
.footer_progect_6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    background: rgb(99, 79, 44);
}

.footer_progect_6_p{
    display: none;
}

.footer_progect_6:hover .footer_progect_6_p{
    display: block;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    
    color: #ffffff;
}

.footer_progect_6:hover{
    background: rgb(99, 79, 44, 0.76);   
}
.footer_img_1{
    margin: 0 auto;
}